<h1>Monitor</h1>
<p>Monitor the price of your coins in different exchanges</p>

<table style="width:300px; display: block; margin: 0 auto; text-align: left;">
  <tr>
    <th width="100">CryptoCoin</th>
    <th width="100">cryptsy</th>
    <th width="100">VOS</th>
  </tr>
  <% @ticker.each do |ticker| %>
    <tr>
        <td><%= ticker[0] %></td>
        <td><%= ticker[1]['cryptsy'] %></td>
        <td><%= ticker[1]['vos'] %></td>
    </tr>
  <% end %>

</table>
